
<style type="text/css">
  #hubbub-embed-widget {
    width: 250px;
    height:150px;
    overflow:auto;
    padding: 4px;
    border: 1px solid black;
    font-family:verdana;
    background-color:#fff;
    color: #333;
  }  
  #hubbub-embed-widget h3 {
    font-size: 16px;
    color: #000;
    text-align:center;
    margin: 4px auto;
  }
  #hubbub-embed-widget h3 em {
    font-size: 14px;
    text-style: italic;
    color: #333;
  }
</style>
  
<div id="hubbub-embed-widget">
  <img src="https://qa.hubbubhealth.com/images/hubbub_logo.png">  
    <h3><%= sponsor.name %> hubbub stats!</h3>
    <div class="hubbub-embed-content">
      <%= sponsor.num_players %> players <br>
      <%= sponsor.miles_walked %> miles walked <br>
      <%= sponsor.push_ups %> push-ups!
    </div>
</div>